:root {
  --primary-color-blue: hsl(223, 87%, 63%);
  --secondary-color-pale-blue: hsl(223, 100%, 88%);
  --secondary-color-light-red: hsl(354, 100%, 66%);
  --neutral-gray: hsl(0, 0%, 62%);
  --neutral-light-gray: rgba(158, 158, 158, 0.5);
  --neutral-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
}

.container {
  width: 100%;
  min-height: calc(100vh - 11rem);
  max-width: 1440px;
  margin: 5.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 48em) {
    height: auto;
  }

  @media screen and (max-width: 27em) {
    margin: 3.5rem 0;
  }
}

.logo-box {
  text-align: center;
  margin: 0 0 3.5rem;

  @media screen and (max-width: 27em) {
    margin: 3.5rem 0;

    .logo {
      height: 2.2rem;
    }
  }
}

.text-box {
  margin-bottom: 3.5rem;
  text-align: center;
  color: var(--neutral-gray);
  &__heading {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1.5rem;

    span {
      color: var(--neutral-dark-blue);
      font-weight: 700;
    }

    @media screen and (max-width: 27em) {
      font-size: 2.8rem;
    }
  }

  &__text {
    font-size: 1.7rem;
    color: var(--neutral-dark-blue);

    @media screen and (max-width: 27em) {
      font-size: 1.5rem;
    }
  }
}

.form {
  width: 37%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 48em) {
    width: 65%;
  }

  @media screen and (max-width: 27em) {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  &__input {
    width: 70%;
    padding: 1.3rem 2rem;
    border-radius: 25px;
    border: 1px solid var(--secondary-color-pale-blue);
    display: inline-block;
    color: var(--neutral-gray);

    @media screen and (max-width: 27em) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  ::placeholder {
    color: var(--neutral-light-gray);
  }

  &__input:focus {
    outline: none;
  }

  &__btn {
    width: 28%;
    display: inline-block;
    padding: 1.3rem 2rem;
    border: 1px solid var(--primary-color-blue);
    border-radius: 25px;
    background-color: var(--primary-color-blue);
    color: #fff;
    cursor: pointer;
    @media screen and (max-width: 27em) {
      width: 100%;
    }
  }
}

.dashboard {
  width: 37%;
  margin: 6rem 0;

  @media screen and (max-width: 48em) {
    width: 65%;
  }

  @media screen and (max-width: 27em) {
    width: 85%;
    margin-bottom: 8rem;
  }

  &__img {
    width: 100%;
  }
}

.social {
  &__icon-list {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__item {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.5px solid var(--neutral-light-gray);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &__link i {
    color: var(--primary-color-blue);
    font-size: 1.7rem;
  }

  &__item:hover {
    background-color: var(--primary-color-blue);
  }
  &__item:hover &__link i {
    color: #fff;
  }
}

.copyright {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--neutral-gray);

  @media screen and (max-width: 27em) {
    font-size: 1.2rem;
  }
}
